{% from "_formhelpers.html" import render_field %} {% extends "base.html" %} {%
block content %}
<a href="{{url_for('create_players_group')}}">create_players_group</a>
<h1>home</h1>
<div>
  {% if current_user.is_authenticated %} current_user_name:{{current_user.name}}

  <h1>players_group list</h1>
  <table>
    <tr>
      <th>group name</th>
    </tr>
    {% for players_group in groups %}
    <tr>
      <td>
        <a
          href="{{url_for('update_plyers_group', players_group_id=players_group.id)}}"
        >
          {{players_group.name}}</a
        >
      </td>
      <td>
        <form method="POST" action="{{url_for('delete_players_group')}}">
          {{form.csrf_token}} {{form.id(value=players_group.id)}}
          {{form.submit()}}
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>

{% endblock %}
