<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>tennis</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body>
  {% if current_user.is_authenticated %}
    
<button type="submit" name="logout" onclick="location.href='{{ url_for('auth.logout') }}';"  class="btn btn-primary">logout</button>
  {% endif %}
    {% block content %} 
    {% endblock content %}
  </body>
</html>
