{% extends "base.jinja" %}{% block content %}

<div class="col-12"> username:{{ current_user.username }} </div>


<button type="submit" name="create_group" onclick="location.href='{{ url_for('views.create_group') }}';"  class="btn btn-primary">create_group</button>
<h1>home</h1>

{% for group in groups %}
<div>
 {{ group.name }}
    <button type="submit" name="update_group" onclick="location.href='{{ url_for('views.group_info',group_id=group.id) }}';"  class="btn btn-primary">group_info</button>
</div>
{% endfor %}
{% endblock content %}
