{% extends "base.jinja" %} {% block content %}
<h2>login page</h2>

<form method="post"> 
  <div class="mb-3 col-8">
    <input type="text" id="username" class="form-control" placeholder="username"  name="username" required />
  </div>
  <div class="mb-3 col-8">
    <input type="password" id="password"  class="form-control" placeholder="password" name="password" required/>
  </div>
  <button type="submit" id="loginBtn" class="btn btn-primary">login</button> 
</form>

        {% if message %} <p>{{ message }}</p> {% endif %}

{% endblock content %}
<script type="" src="./js/login.js"></script>

