{% extends "base.jinja" %} {% block content %}
<button type="submit" name="register"  onclick="location.href='{{ url_for('auth.register')}}';" class="btn btn-outline-primary">sign up</button>
<div class="vh-100 bg-gray align-items-center justify-content-center d-flex">
    <div class="bg-white col-8">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="username"  name="username" />
          </div>
          <div class="mb-3 ">
            <input type="password" class="form-control" placeholder="password" name="password" />
          </div>
        <form method="post"> <button type="submit" class="btn btn-primary">login</button> </form>
        <form method="get"> <button type="submit" class="btn btn-outline-primary">register</button> </form>

        {% if message %} <p>{{ message }}</p> {% endif %}

    </div>
</div>
{% endblock content %}
